/*

  Variables
  +

*/




// Colours
$white: #fff !default;
$gray-100: #f1f5f9 !default;
$gray-200: #f4f6f8 !default;
$gray-300: #dfe3e8 !default;
$gray-400: #c4cdd5 !default;
$gray-500: #919eab !default;
$gray-600: #637381 !default;
$gray-700: #454f5b !default;
$gray-800: #212b36 !default;
$gray-900: #161c24 !default;
$black: #000 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #f59e0b !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0ea5e9 !default;
$primary: #624bff !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Light color
$light-primary: #e0dcfe !default; 
$light-secondary: #e9ecef !default; 
$light-success: #eaf6ec !default; 
$light-danger: #fbebec !default; 
$light-warning: #fff3cd !default; 
$light-info: #e7fafe !default; 
$light-dark: #d1cfd8 !default; 

// Dark color
$dark-primary: #593cc1 !default; 
$dark-secondary: #5c596d !default; 
$dark-success: #139a74 !default; 
$dark-danger: #ae302e !default; 
$dark-warning: #c28135 !default; 
$dark-info: #51a0c2 !default; 

$theme-colors: () !default;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "white": $white,
    "light-primary": $light-primary,
    "light-danger": $light-danger,
    "light-info": $light-info,
    "light-warning": $light-warning,
    "light-secondary": $light-secondary,
    "light-success": $light-success,
    "light-dark": $light-dark,
    "dark-primary": $dark-primary,
    "dark-warning": $dark-warning,
    "dark-info": $dark-info,
    "dark-danger": $dark-danger,
    "dark-success": $dark-success,
    "dark-secondary": $dark-secondary,
);

// Base

$base-line-height: 1.7;

//Google font
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap);

//Typekit font

//Fonts
$font-stack: 'Rubik', Helvetica, sans-serif;

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;